<!DOCTYPE html>
<html>
<head lang="en">
    <title>AngularJS Tutorials</title>
    <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.min.css">
</head>

<body ng-app="mailApp" ng-controller="mailCtrl as ctrl">
<div class="container">
    <div class="page-header text-center">
        <h1>Mail sender
            <small>yolo!</small>
        </h1>
    </div>
    <div class="col-md-4 panel panel-body panel-info text-center">
        <div ng-repeat="thing in ctrl.list" ng-model="thing" class="btn" ng-click="ctrl.fun(thing)"><p><strong>{{thing}}</strong></p></div>
    </div>
    <div class="col-md-4 panel panel-body panel-info text-center">
        <p>Message to: {{ctrl.x}}<p>
        <textarea placeholder="Message..." width="500px" style="margin: 0px; width: 354px; height: 104px;"></textarea>
        <button ng-click="ctrl.send()">Send</button>
    </div>
   </div>
<script src="bower_components/angular/angular.js"></script>
<script src="fridge.js"></script>
</body>
</html>
