<label for="devote" class="label label-default">How much to devote</label>

<select id="devote" ng-options="proposal for proposal in proposals" ng-model="proposal" class="form-control form-group"></select>
<div class="text-center">
    <button id="toggle" class="btn btn-default"  ng-model="forWhat" ng-click="toogleContent()">{{forWhat || "For poor pets" }}</button>
    <!--here display content from index.html--><div ng-transclude></div>
    <strong id="message" ng-if="isContentVisible" ng-show="isContentVisible">{{takeMyMoney}}</strong>
</div>